<footer>
	<ul class="list-social">
		<li> <a href="#" class="icon-facebook">Facebook</a> </li>
		<li> <a href="#" class="icon-twitter">Twitter</a> </li>
		<li> <a href="#" class="icon-instagram">Instagram</a> </li>
	</ul>
	<div class="copyright">
		<p>© 2004-2017 Visit Charlotte. All Rights Reserved. 500 S. College Street, Suite 300, Charlotte, NC 28202</p>
	</div>
</footer>
