<header>
	<nav class="nav-menu">
		<a href="#" title="The Queen city">The Queen city</a>
		<a href="#" title="My Reservations">My Reservations</a>
		<a href="#" title="Guide">Guide</a>
	</nav>
</header>
