<section class="banner-holder">
	<div class="banner-content">
		<span class="icon-crown"></span>
		<strong>WELCOME TO</strong>
		<h1 class="title">CHARLOTTE</h1>
		<strong>THE QUEEN CITY</strong>
	</div>
</section>
