<section class="checking">
	<h3 class="title">Select the dates to stay in Charlotte</h3>
	<div class="check-days">
		{% include "modules/_check.njk" %}
		{% include "components/_calendar.njk" %}
	</div>
</section>
