<div class="filter">
	<h2 class="title">Filter</h2>
	<span class="price-range">Price Range</span>
	<div class="filter-price">
		<input type="range" name="" value="">
		<span class="min">Min <strong>$100</strong></span>
		<span class="max">Max <strong>$600</strong></span>
	</div>
	<div class="filter-stars">
		<span>Stars</span>

		<div class="rating">
			<a href="#5" title="Give 5 stars">★</a>
			<a href="#4" title="Give 4 stars">★</a>
			<a href="#3" title="Give 3 stars">★</a>
			<a href="#2" title="Give 2 stars">★</a>
			<a href="#1" title="Give 1 star">★</a>
		</div>

		<ul>
			<li class="-active">1</li>
			<li class="-active">2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
</div>
