<div class="filter" data-component="filter">
	<h2 class="title">Filter</h2>
	<span class="price-range">Price Range</span>
	<div class="filter-price">
		<div id="nonlinear" class="noUi-target noUi-ltr noUi-horizontal"></div>
		<span class="min">Min <strong id="lower-value">$100</strong></span>
		<span class="max">Max <strong id="upper-value">$600</strong></span>
	</div>
	<div class="filter-stars">
		<span>Stars</span>

		<div class="group">
			<div class="rating-group">
				<label for="rating-0"></label>
				<input class="rating__input" name="rating" id="rating-0" value="0" type="radio" checked>

				<label class="rating__label" for="rating-1" data-value="1"><i class="rating__icon rating__icon--star"></i></label>
				<input class="rating__input" name="rating" id="rating-1" value="1" type="radio">

				<label class="rating__label" for="rating-2" data-value="2"><i class="rating__icon rating__icon--star"></i></label>
				<input class="rating__input" name="rating" id="rating-2" value="2" type="radio">

				<label class="rating__label" for="rating-3" data-value="3"><i class="rating__icon rating__icon--star"></i></label>
				<input class="rating__input" name="rating" id="rating-3" value="3" type="radio">

				<label class="rating__label" for="rating-4" data-value="4"><i class="rating__icon rating__icon--star"></i></label>
				<input class="rating__input" name="rating" id="rating-4" value="4" type="radio">

				<label class="rating__label" for="rating-5" data-value="5"><i class="rating__icon rating__icon--star"></i></label>
				<input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
			</div>
		</div>
	</div>
</div>
