<div class="filter" data-component="filter">
	<h2 class="title">Filter</h2>
	<span class="price-range">Price Range</span>
	{% include "modules/_filter-price.njk" %}
	{% include "modules/_filter-stars.njk" %}
</div>
