.filter
	.title
		set-font($w-regular, $size-regular, $font-mont)
		color $black
		margin-bottom 40px
		margin-top 0

	span
		set-font($w-regular, $size-little, $font-heb)
		display block
		margin-bottom 10px

	.filter-price
		display flex
		flex-flow wrap
		justify-content space-between
		margin-bottom 30px

		.noUi-horizontal
			display block
			height auto
			border 0
			margin 6px 0
			width 100%

			.noUi-base
				width calc(100% - 22px)

			.noUi-handle
				background-color $white
				border solid 4px $highlight
				border-radius 50%
				height 25px
				left 0
				outline 0
				width 25px

				&:before,
				&:after
					display none

			.noUi-connect
				background transparent
				border-bottom solid 5px $highlight
				border-radius 0
				box-shadow none
				top 4px

		span
			set-font($w-regular, $size-short, $font-heb)
			margin-top 20px

			&.max
				text-align right

		strong
			set-font($w-bold, $size-regular, $font-heb)
			display block
			color $highlight
			opacity 0.45

	.filter-stars
		border-top solid 1px $border
		padding-top 15px

	@media screen and (max-width: $tablet)
		margin-bottom 70px

	// @media screen and (max-width: $mobile)
	// 	position absolute
	// 	top 0
	// 	left 50%
	// 	transform translateX(-50%)
	// 	width 100%
  //
	// 	.filter-price,
	// 	.filter-stars
	// 		display inline-flex
	// 		height 100%
	// 		width 40%
  //
	// 	.filter-stars
	// 		margin-left 30px
	// 		border-top 0
	// 		border-left solid 1px $border
	// 		padding-top 0
	// 		padding-left 20px
