.title-list
	set-font($w-regular, $size-regular, $font-mont)
	color $black
	text-align center
	margin-bottom 70px
	margin-top 0
	padding 0 20px
	width 100%

	span
		set-font($w-regular, $size-regular, $font-mont)
		color $black

	@media screen and (max-width: $mobile-medium)
		font-size $size-small
		line-height 1.5em

		span
			font-size $size-small

.list-hotels
	box-sizing border-box
	display flex
	flex-flow wrap
	justify-content space-between
	margin 0 auto
	max-width 1280px
	opacity 0
	padding 0 20px
	position absolute
	top 0
	transition-delay 0.3s
	transition-duration 0.3s
	transition-property opacity, visibility
	visibility hidden

	&.-active
		opacity 1
		position static
		transition-delay 0.3s
		transition-duration 0.3s
		transition-property opacity, visibility
		visibility visible
		overflow hidden

		.history-hotel
			transform translateX(100%)

		.hotel
			.info-hotel,
			.price-hotel
				visibility visible

			&.-history
				.history-hotel
					transform translateX(0)

				.info-hotel,
				.price-hotel
					visibility hidden

	.col-filter
		max-width 291px
		width 100%

	.col-hotels
		margin-top -18px
		max-width 800px
		width 100%

	@media screen and (max-width: $tablet)
		flex-flow wrap
		justify-content center

		&.-active
			position relative

	@media screen and (max-width: $mobile)
		padding-top 200px
		margin-top 80px

	@media screen and (max-width: $mobile-medium)
		padding 0
