.rating
	direction rtl
	font-size 45px
	margin 0 auto 1em
	overflow hidden
	width 276px

	a
		-moz-transition color .4s
		-o-transition color .4s
		-webkit-transition color .4s
		color #aaa
		float none
		text-decoration none
		transition color .4s

		&:hover,
		&:hover ~ a,
		&:focus,
		&:focus ~ a
			color orange
			cursor pointer
