<div class="check">
  <div class="in">
    <strong>CHECK-IN</strong>
    <span>Choose a date</span>
  </div>
  <div class="out">
    <strong>CHECK-OUT</strong>
    <span>Choose a date</span>
  </div>
  {{button('Seach hotels', class='btn-default -highlight search-hotels')}}
</div>
