<div class="filter-price">
  <div id="nonlinear" class="noUi-target noUi-ltr noUi-horizontal"></div>
  <span class="min">Min <strong id="lower-value">$100</strong></span>
  <span class="max">Max <strong id="upper-value">$600</strong></span>
</div>
