<div class="history-hotel" data-component="graphic">
  <h2 class="title">Price history for 2017</h2>
  {{button('Back to description', class='btn-back', format='href')}}
  <ul class="grafico">
    [[#price_history]]
      <li><span data-value="$[[value]]"></span> [[month]]</li>
    [[/price_history]]
  </ul>
</div>
