<img src='[[image]]' alt="" class="img-hotel">
<div class="info-hotel">
  <div class="avaliation-hotel" data-component="rating" data-rating="[[rate]]"></div>
  <h2 class="title">[[name]]</h2>
  <p>[[description]]</p>
  {{button('Book now', class='btn-default -highlight')}}
  {{button('Price history', class='btn-default -price')}}
</div>
<div class="price-hotel">
  <span>Total <strong class="price">$[[price]]</strong></span>
</div>
