@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700,800,900|Montserrat:300,400,500,600,700,800,900');

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?ky0gu5');
	src:  url('../fonts/icomoon.eot?ky0gu5#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ky0gu5') format('truetype'),
		url('../fonts/icomoon.woff?ky0gu5') format('woff'),
		url('../fonts/icomoon.svg?ky0gu5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-heb = 'Heebo', sans-serif;
$font-mont = 'Montserrat', sans-serif;
$font-icon = 'icomoon', sans-serif;
